@model EmprestimoModel
@{
    ViewData["title"] = "Cadastrar Empréstimo";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Raleway', sans-serif;
        }

        .form-label {
            font-size: 0.875rem;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            border-radius: 0.80rem;
        }

        .form-control, .btn {
            font-size: 0.875rem;
            font-family: 'Raleway', sans-serif;
        }

            .form-control:focus {
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                border-color: #white;
                outline: 0;
            }

        .container2 {
            max-width: 400px;
            margin: 0 auto;
            border-radius: 2rem;
            background-color: #f8f9fa; 
            box-shadow: 0 4px 8px rgba(0, 0, 0.2, 0.2); 
            padding: 40px; 
        }

        .btn-custom {
            font-size: 0.75rem;
            padding: 0.5rem 2rem;
            border-radius: 2rem;
        }
    </style>
</head>
<body class="bg-light">

    <div class="container2 mt-5">

        <div class="mb-4 text-center">
            <h3 class="text-dark">Cadastro de Empréstimos</h3>
        </div>

        <form method="post" asp-controller="Emprestimo" asp-action="Cadastrar">
            <div class="form-group">
                <label for="Recebedor" class="form-label">Recebedor</label>
                <input type="text" class="form-control" asp-for="Recebedor" id="Recebedor" placeholder="Quem recebe o livro?" />
                <span class="text-danger" asp-validation-for="Recebedor"></span>
            </div>
            <div class="form-group">
                <label for="Fornecedor" class="form-label">Fornecedor</label>
                <input type="text" class="form-control" asp-for="Fornecedor" id="Fornecedor" placeholder="Quem empresta o livro?" />
                <span class="text-danger" asp-validation-for="Fornecedor"></span>
            </div>
            <div class="form-group">
                <label for="Livro" class="form-label">Livro</label>
                <input type="text" class="form-control" asp-for="LivroEmprestado" id="Livro" placeholder="Qual o livro?" />
                <span class="text-danger" asp-validation-for="LivroEmprestado"></span>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn btn-success btn-custom">Enviar</button>
                <a class="btn btn-primary btn-custom" asp-controller="Emprestimo" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>

</body>
</html>
